$fontFamily:(
    title: 'Space Mono, monospace',
    text:'Montserrat, sans-serif' 
);

$paletaCores:(
    corPrimaria: #ff5050,
    corSecundaria: #730bd2,
    corNeutra1: #fff,
    corNeutra2: #4d4d4d,
    corNeutra3: #5b5b5b,
    corEscura: #a03232
);
